@charset "UTF-8";

/* --------------------------------------------------- */
/* reset */
/* --------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
	margin: 0;
}

body {
	color: #000;
	font: 15px/1.7 "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	background-color: white;
	text-align: left;
}

ol, ul {
	list-style: none;
}

img {
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
	width /***/: auto; /* for ie8 */
}

a {
	text-decoration: none;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	color: #1111cc;
}

a:hover {
	color: #cc3434;
}

a:focus {
	outline: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea, select {
	font-family: inherit;
	vertical-align: middle;
}

input[type="submit"] {
	cursor: pointer;
}

em,strong {
	font-weight: bold;
}

strong {
	border-bottom: 1px dotted #ccc;
}

.wrapper {
	width: 100%;
	height: 100%;
}

/* --------------------------------------------------- */
/* clearfix */
/* --------------------------------------------------- */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}


.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 13px;
	background: white;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 2;
}

.side-open .wrapper,
.side-open .overlay {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.overlay {
	content: '';
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 3;
}

.side-open .overlay {
	visibility: visible;
	cursor: pointer;
	background: rgba(0,0,0,.7);
}

.overlay::after {
	content: "この部分をクリックすると閉じるよ";
	visibility: hidden;
	position: fixed;
	top: 40%;
	left: 0;
	display: block;
	width: 100%;
	height: 50px;
	color: rgba(255,255,255,0);
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.side-open .overlay::after {
	visibility: visible;
	color: rgba(255,255,255,.8);
}

.header {
	padding: 50px 0;
	color: white;
    text-align: center;
    font-family: fantasy;
    text-shadow: 5px 5px 5px #808080;
    font-size: 40px;
}

.header h1,
.contents h1 {
	margin-bottom: 30px;
	font-size: 20px;
}

.contents {
	padding: 150px 0 250px;
}

.contents p {
	margin-bottom: 50px;
}

.footer {
	padding: 150px 0;
	background: black;
    color: aliceblue
}

/* --------------------------------------------------- btn */
.btn__box {
	position: relative;
	text-align: center;
	z-index: 1;
}

.btn__box a {
	display: block;
	width: 198px;
	height: 38px;
	margin: 0 auto;
	line-height: 40px;
	font-size: 13px;
	color: #1a1e24;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	border: 1px solid #1a1e24;
}

.btn__box a:hover {
	color: #fff !important;
	background: #1a1e24;
}

.btn__box--svg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 214px;
	height: 54px;
	margin: auto;
	z-index: -1;
}

.btn__box--svg rect {
	fill: transparent;
	stroke: #1a1e24;
	stroke-width: 1px;
	stroke-dasharray: 242px;
	stroke-dashoffset: 256px;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.btn__box a:hover + .btn__box--svg rect {
	stroke-width: 2px;
	stroke-dasharray: 600px;
	stroke-dashoffset: 0;
}

/* --------------------------------------------------- side menu */
.side-menu {
	position: fixed;
	top: 0;
	right: 0;
	box-sizing: border-box;
	width: 300px;
	height: 100%;
	padding-top: 150px;
	text-align: left;
	font-size: 13px;
	background: linear-gradient(180deg, orange 0%, yellow 100%);
	z-index: 1;
    font-family: impact
}

.side-menu__ul {
	width: 100%;
	height: 100%;
	display: block;
	overflow: auto;
}

.side-menu__ul--child {
	display: none;
}

.active .side-menu__ul--child {
	display: block;
}

.side-menu__ul--child li a {
	display: block;
	padding: 8px 0 8px 32px;
	font-size: 12px;
	color: black;
}

.side-menu__ul > li > a,
.side-menu__ul > li h2 {
	display: block;
	padding: 10px 0 10px 20px;
	color: black;
}

.side-menu__ul h2 {
	cursor: pointer;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.side-menu__ul > li > h2:after {
	content: ' +';
	color: darkblue;
	font-size: 20px;
}

.side-menu__ul > li.active h2:after {
	content: ' -';
}

.side-menu__ul > li > h2:hover,
.side-menu__ul > li a:hover {
	background: darkblue;
	color: #fff;
}

/* --------------------------------------------------- ellipsis btn */
.side-menu-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	padding: 5px;
	cursor: pointer;
	z-index: 4;
}

.ellipsis-v {
	position: relative;
	display: block;
	cursor: pointer;
	width: 40px;
	height: 40px;
}

.ellipsis-v .point {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	width: 8px;
	height: 8px;
	margin: auto;
	background: #fff;
	box-shadow: 0 0 8px 0 #161616;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.ellipsis-v .point.top {
	top: 0;
}

.ellipsis-v .point.mid {
	top: 0;
	bottom: 0;
}

.ellipsis-v .point.bot {
	bottom: 0;
}

.side-menu-btn:hover .top {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px);
}

.side-menu-btn:hover .bot {
	-webkit-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px);
}

.side-open .side-menu-btn:hover .top,
.side-open .top {
	width: 56px;
	height: 1px;
	background: #fff;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.side-open .mid {
	opacity: 0;
}

.side-open .side-menu-btn:hover .bot,
.side-open .bot {
	width: 56px;
	height: 1px;
	background: #fff;
	-webkit-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.side-open .side-menu-btn:hover .bot,
.side-open .side-menu-btn:hover .top {
	background: #ccc;
}
